Package: com.mtac.rolodex
Name: Rolodex
Version: 1.0.0
Architecture: iphoneos-arm
Description: Table view index popups
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
